<h1>Stupid Coaching</h1>
<div class="ms-2 border-start border-5">
<p class="ps-2"> <%= @ask %>
<br>- You<br>
</p>
</div>
<div class="ms-2 border-start border-5">
<p class="coach ps-2"><strong> <%= @answer %></strong>
<br>- Your Coach<br>
</p>
</div>
<%= link_to "Ask another question", ask_path %>
