<h1 class="ms-2">Stupid Coaching</h1>
<p class="ms-2">Ask your Coach anything</p>

<form action="/answer" data-turbo="false" class="ms-1 row g-2">
  <div class="d-flex flex-row col-auto">
  <input class="me-2 form-control" type="text" name="question"
         placeholder="Ask your question here!">
  <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>
